.save-button {
    position: absolute;
    right: 10px;
    bottom: 220px;
    border-radius: 5px;
    border: 1px solid #4b6077;
    background-color: #94bbe6;
    color: #4b6077;
    width: 165px;
}

.save-button:hover {
    background-color: #4b6077;
    color: #94bbe6;
    cursor: pointer;
}